@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
}

p{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a, .btn{
    transition: all 300ms ease;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    min-height: 13vh;
    background-color: #fff;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

a:hover{
    color: #c3d422;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #c3d422;
}

.logo{
    color: #c3d422;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}


 .container{
    width: 500px;
    padding: 20px;
 }
  
  .login-box {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
  }
  
  .form-group input {
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 4px;
    background: #eee1e1;
    border: none;
    outline: none;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
  }

  #stay-connected{
    margin-right: 10px;
  }
  
  .forgotten-password {
    margin-left: auto;
    font-size: 0.8em;
    color: #4322d4;
    cursor: pointer;
  }

  .forgotten-password:hover{
    text-decoration: underline;
  }
  
  button {
    width: 100%;
    padding: 15px;
    background-color: #c3d422;
    color: #000;
    border: none;
    font-size: 15px;
    font-weight: 600;
    box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.1);;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.7;
  }

  .login-reg{
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
  }

  .login-reg p{
    font-weight: 500;
  }

  .reg-link{
    color: #c3d422;
    margin-top: 20px;
  }
  
